
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {

        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
        </ul>


    }
    if (User.IsInRole("View"))
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Products", "Contact", "Home")</li>
            <li>@Html.ActionLink("Search", "Dashboard", "Home")</li>
        </ul>

    }
    if (User.IsInRole("Configuration"))
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "Configuration", "Home")</li>
            <li>@Html.ActionLink("Products", "Contact", "Home")</li>
            <li>@Html.ActionLink("Modification", "Modification", "Home")</li>
        </ul>

    }
}


